<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471122473683-tih66k7aph859g29ao3uit5jm22o2ab7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471122473683-tih66k7aph859g29ao3uit5jm22o2ab7</string>
	<key>API_KEY</key>
	<string>AIzaSyAE3klLnEMeElQe8W9E4OyH86ICVo_BjT4</string>
	<key>GCM_SENDER_ID</key>
	<string>471122473683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-c0979</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-c0979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471122473683:ios:6662f3254245d489bd1a26</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-c0979.firebaseio.com</string>
</dict>
</plist>